<div class="ml-6">
    <ul>
        <li>Spring application development.</li>
        <li>Building Docker images via Jenkins with Gradle and publishing to jFrog.</li>
        <li>CI pipelines creation and Jenkins management.</li>
        <li>Managing Jenkins credentials and environment variables.</li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Creating Python scripts for automation and deploying via created Ansible deployment playbook
                    &nbsp;<div class="font-weight-bold">saving 95% time</div>&nbsp;
                    when starting services.
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    LDAP and Apache Ranger services integration to control users’ access in automated way
                    &nbsp;<div class="font-weight-bold">saving 2 hours</div>&nbsp;
                    manual work on users update.
                </div>
            </div>
        </li>
    </ul>
</div>
