<div class="row m-5"></div>
<ul class="list-group list-group-flush">
  <li class="list-group-item mb-2 first-element">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-2">
          <h5 class="font-weight-bold">12.2020</h5>
        </div>
        <div class="col-md-10">
          <h4 class="font-weight-bold"> Test Driven Development </h4>
          <p class="font-italic">Bottega IT Minds</p>
        </div>
      </div>
    </div>
  </li>
  <img class="img-fluid mx-auto my-auto d-block" src="../../assets/img/TDD.jpeg"/>

  <div class="row m-3"></div>

  <li class="list-group-item first-element">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-2">
          <h5 class="font-weight-bold">11.2020</h5>
        </div>
        <div class="col-md-10">
          <h4 class="font-weight-bold"> Security PWNing Conference 2019 </h4>
          <p class="font-italic"> PWN security conference</p>
        </div>
      </div>
    </div>
  </li>

  <div class="row m-3"></div>

  <li class="list-group-item mb-2 first-element">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-md-2">
          <h5 class="font-weight-bold">02.2018</h5>
        </div>
        <div class="col-md-10">
          <h4 class="font-weight-bold "> Certificate of Completion Java Developer Bootcamp </h4>
          <p class="font-italic"> Coderslab </p>
        </div>
      </div>
    </div>
  </li>
  <img class="img-fluid mx-auto my-auto d-block" src="../../assets/img/coderslab.jpg"/>
</ul>
