<div class="ml-6">
    <ul>
        <li>Java/Android framework troubleshooting/code maintenance using Perforce VCS.</li>
        <li>Maintaining IMS framework, according to GSMA specification.</li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Developed android apps for research purposes using Java, Kotlin, Android, Python -
                    including company award winning application.
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Developed tools for internal usage in Java, JavaFX, Spring, Hibernate, Git which are
                    &nbsp;<div class="font-weight-bold">saving 80% time</div>&nbsp;on logs analysis.
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Created bash, batch scripts, Windows and Linux installers –
                    &nbsp;<div class="font-weight-bold">1 hour saving</div>&nbsp;
                    on every internal software update for every developer.
                </div>
            </div>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Created automated tests for Android devices using Python –
                    &nbsp;<div class="font-weight-bold">70% less time needed</div>&nbsp;
                    by software testers.
                </div>
            </div>
        </li>
        <li>Developed front-end web application using Thymeleaf.</li>
        <li>Providing guidance to new team members.</li>
    </ul>
</div>
