<div class="container-fluid">
    <div class="col-md-3">
      <div class="mb-md-4"></div>
      <h6 class="font-weight-bold">07.2018 - Current</h6>
    </div>
    <div class="col-md-9">
      <h3 class="font-weight-bold">Junior Java Developer</h3>
      <p class="font-italic">Samsung, Warsaw</p>
      <p>Responsibilities:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Java/Android framework troubleshooting/code maintenance using Perforce VCS</li>
        <li class="list-group-item">Developed android apps for research purposes using Java, Kotlin, Android, Python
        </li>
        <li class="list-group-item">Developed tools for internal usage in Java, JavaFX, Spring, Hibernate, Git</li>
        <li class="list-group-item">Created bash, batch scripts, Windows and Linux installers</li>
        <li class="list-group-item">Created automated tests for Android devices using Python</li>
        <li class="list-group-item">Developed front-end web application using Thymeleaf</li>
        <li class="list-group-item">Guiding new people to the project</li>
      </ul>
    </div>
</div>
