<div class="container-fluid">
  <div class="col-md-3">
    <div class="mb-md-4"></div>
    <h6 class="font-weight-bold ">07.2018 - Current</h6>
  </div>
  <div class="col-md-9">
    <h3 class="font-weight-bold">Junior Java Developer</h3>
    <p class="font-italic">Samsung, Warsaw</p>
    <p>Responsibilities:</p>
    <ul class="list-group list-group-flush ml-5 mr-5">
      <li class="list-group-item first-element">Java/Android framework troubleshooting and code maintenance using Perforce VCS</li>
      <li class="list-group-item second-element">Maintaining IMS framework, according to GSMA specification</li>
      <li class="list-group-item first-element">Developed android apps for research purposes using Java, Kotlin, Android, Python
      </li>
      <li class="list-group-item second-element">Developed tools for internal usage in Java, JavaFX, Spring, Hibernate, Git</li>
      <li class="list-group-item first-element">Creating new setups for operators from Europe</li>
      <li class="list-group-item first-element">Created bash, batch scripts, Windows and Linux installers</li>
      <li class="list-group-item second-element">Created automated tests for Android devices using Python</li>
      <li class="list-group-item first-element">Developed front-end web application using Thymeleaf</li>
      <li class="list-group-item second-element">Providing guidance to new team members</li>
    </ul>
  </div>
</div>

<div class="row m-5"></div>

<div class="container-fluid">
  <div class="col-md-3">
    <div class="mb-md-4"></div>
    <h6 class="font-weight-bold">03.2018 - 06.2018</h6>
  </div>
  <div class="col-md-9">
    <h3 class="font-weight-bold">Junior Java Developer</h3>
    <p class="font-italic">Amelco, London</p>
    <p>Responsibilities:</p>
    <ul class="list-group list-group-flush ml-5 mr-5">
      <li class="list-group-item first-element">Spring web application maintenance</li>
      <li class="list-group-item second-element">Adding new features like payments</li>
      <li class="list-group-item first-element">Assisting with regression tests</li>
      <li class="list-group-item second-element">Creating tasks from user stories</li>
    </ul>
  </div>
</div>

