<div class="container-fluid">
  <div class="col-md-3">
    <div class="mb-md-4"></div>
    <h6 class="font-weight-bold ">07.2018 - Current</h6>
  </div>
  <div class="col-md-9">
    <h3 class="font-weight-bold">Junior Java Developer</h3>
    <p class="font-italic">Samsung, Warsaw</p>
    <p>Responsibilities:</p>
    <div class="ml-5">
      <ul>
        <li>Java/Android framework troubleshooting and code maintenance using Perforce VCS</li>
        <li>Maintaining IMS framework, according to GSMA specification</li>
        <li>Developed android apps for research purposes using Java, Kotlin, Android, Python</li>
        <li>Developed tools for internal usage in Java, JavaFX, Spring, Hibernate,Git</li>
        <li>Creating new setups for operators from Europe</li>
        <li>Created bash, batch scripts, Windows and Linux installers</li>
        <li>Created automated tests for Android devices using Python</li>
        <li>Developed front-end web application using Thymeleaf</li>
        <li>Providing guidance to new team members</li>
      </ul>
    </div>
  </div>
</div>

<div class="row m-5"></div>

<div class="container-fluid">
  <div class="col-md-3">
    <div class="mb-md-4"></div>
    <h6 class="font-weight-bold">03.2018 - 06.2018</h6>
  </div>
  <div class="col-md-9">
    <h3 class="font-weight-bold">Junior Java Developer</h3>
    <p class="font-italic">Amelco, London</p>
    <p>Responsibilities:</p>
    <div class="ml-5">
      <ul>
        <li>Spring web application maintenance</li>
        <li>Adding new features like payments</li>
        <li>Assisting with regression tests</li>
        <li>Creating tasks from user stories</li>
      </ul>
    </div>
  </div>
</div>

