<div class="row m-5"></div>

<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <ul class="list-group list-group-flush ml-5 mr-5 d-inline-block">
                <li class="list-group-item first-element">
                    Computer hardware
                </li>
                <div class="text-left mt-2">
                    <div>Love to play with computer hardware - building new custom PC's, modifying existing ones.</div>
                    <div>Overclocking components to get max performance or best user experience.</div>
                    <div>Creating new Arduino projects.</div>
                </div>


                <div class="row m-4"></div>

                <li class="list-group-item first-element">
                    New technology
                </li>
                <div class="text-left mt-2">
                    <div>As technology enthusiast I keep myself updated on newest discoveries .</div>
                    <div>Love trying new solutions and prototypes.</div>
                    <div>Always trying to find a way to merge new technologies with existing ones to make life easier.
                    </div>
                    <div>Cryptocurrencies fan.</div>
                </div>

                <div class="row m-4"></div>

                <li class="list-group-item first-element">
                    Fantasy
                </li>
                <div class="text-left mt-2">
                    <div>
                        Fantasy books accompanied me from my earliest years.
                        I love Polish as well as English titles such as Mordimer Madderdin stories, The Witcher,
                        Mistborn, Demon Cycle.
                    </div>
                </div>
                <div class="row m-4"></div>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="text-center">
            <ul class="list-group list-group-flush ml-5 mr-5 d-inline-block">


                <li class="list-group-item first-element">
                    Astrophysics
                </li>
                <div class="text-left mt-2">
                    <div>
                        Following my passion for the universe I am constantly looking for new discoveries and new
                        theories about
                        it.
                    </div>
                    <div>
                        I find quantum mechanics truly intriguing - it provides me with o totally different perspective
                        of world
                        around us.
                    </div>
                    <div>
                        Later on I started to read astrophysics ones as well
                        from authors like Stephen Hawking, Neil deGrasse Tyson or most lately Leonard Susskind.
                    </div>
                </div>

                <div class="row m-4 mt-5"></div>

                <li class="list-group-item first-element">
                    Air Soft Gun
                </li>
                <div class="text-left mt-2">
                    <div>This is my latest hobby.</div>
                    <div>I enjoy movement and strategy it required to beat other team.</div>
                    <div>
                        It is sometimes so immersive with all those real life projections that you can feel like you are
                        on a
                        battlefield.
                    </div>
                </div>

                <div class="row m-4"></div>

                <li class="list-group-item first-element">
                    Smart Home, LED
                </li>
                <div class="text-left mt-2">
                    <div>
                        Setting up the whole home with remote controlled LEDs
                        and other smart devices and then connect to either to Amazon Alexa or Google Home for easy voice
                        control.
                    </div>
                    <div>When everything is set up it gives you the feeling that you are living in real 21th century !
                    </div>
                </div>
                <div class="row m-4"></div>
            </ul>
        </div>
    </div>
</div>
