<div class="row m-5"></div>

<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <ul class="list-group list-group-flush ml-5 mr-5 d-inline-block">
        <li class="list-group-item first-element">
          Computer hardware
        </li>
        <div class="text-left mt-2">
          <div>Love to play with computer hardware - building custom PC's, modifying existing one.</div>
          <div>Overclocking components to get max performance or best user experience</div>
          <div>Creating new Arduino projects</div>
        </div>


        <div class="row m-4"></div>

        <li class="list-group-item first-element">
          New technology
        </li>
        <div class="text-left mt-2">
          <div>Follows news about technology to be up to date.</div>
          <div>Love to try new solutions and prototypes.</div>
          <div>Always trying to find way to merge new technology with existing to make life easier.</div>
        </div>

        <div class="row m-4"></div>

        <li class="list-group-item first-element">
          Astrophysics
        </li>
        <div class="text-left mt-2">
          <div>As cosmos enthusiast I like to hear about new discoveries and new theories about it.</div>
          <div>I find quantum mechanics very interesting - it let you perceive world in different perspective</div>
          <div>In my opinion this and AI are future.</div>
        </div>

        <div class="row m-4"></div>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <ul class="list-group list-group-flush ml-5 mr-5 d-inline-block">
        <li class="list-group-item first-element">
          Fantasy, astrophysics books
        </li>
        <div class="text-left mt-2">
          <div>As much as I love real life Astrophysics from my earliest years I was reading a lot of fantasy books.
          </div>
          <div>Later I started to read astrophysics books as well.</div>
        </div>

        <div class="row m-4"></div>

        <li class="list-group-item first-element">
          Air Soft Gun
        </li>
        <div class="text-left mt-2">
          <div>It is my latest hobby.</div>
          <div>I like it because of movement and strategy it required to beat other team.</div>
          <div>It is sometimes so immersive with all this real life projections that you can feel like you are on
            battlefield.
          </div>
        </div>

        <div class="row m-4"></div>

        <li class="list-group-item first-element">
          Smart Home, LED
        </li>
        <div class="text-left mt-2">
          <div>This is connected with new technology. It really give me pleasure to play with it.</div>
          <div>Settings whole home with light and other smart devices and then connect to either to Amazon Alexa or
            Google
            Home
          </div>
          <div>When everything is set up it give you feeling that you are living in real 21th century !</div>
        </div>
        <div class="row m-4"></div>
      </ul>
    </div>
  </div>
</div>
