<div class="row m-3"></div>
<div class="row">
  <div class="container-fluid">
    <div>
      Software engineer with background of mechanical engineering.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>
      Since my childhood I have always shown a great interest in how computers work
      and thus I tried and succeeded in assembling my own workstation from scratch.
      My curiosity starts with hardware and go through operating system to simple games and programs.
      Nowadays I build and modify my own PC or laptops and modifying it on daily basis.
      During my education at a university I became increasingly interested in area of coding.
      Soon enough it became my true passion, on which I wanted to build my career.
      Not much later I came across sponsored Java bootcamp offer.
      Although the competition was high, I was able to excel all exams and final project
      and was offered 3 months job in London, UK as Java developer.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>
      Currently I work as Software Developer in C&F.
    </div>
    <div>
      On daily basis I encounter new problems that needs to be solved.
      For any project has different goals, technology, targets and therefore challenges.
      With great deal of satisfaction I complete this task, finding solution for better performance and user experience.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    I have three years of experience in Core Java, Spring Framework, Hibernate, MySQL, Perforce, Git, Linux.
    More than year experience in Android environment.
    I am familiar with Python, Kotlin, Flutter (Dart), Angular, Thymeleaf based front end, JavaFx, creating installers
    for Windows and Linux.
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>DevOps</div>
    <div>
      Every project on which I am working have complete CI created in Jenkins pipelines.
      Services I develop are built to Docker images and tagged via Gradle, then pushed to Artifactory repository.
    </div>
  </div>
</div>



