<div class="row m-3"></div>
<div class="row">
  <div class="container-fluid">
    <div>Software engineer with background of Mechanical - Medical master degree engineering
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>
      Ever since childhood I was interested how computers are working and I tried and successfully assemble my own workstation.
      I was always curious how it work from hardware and operating system side.
      Nowadays I build and modify my own PC and laptops on daily basis.
      During my university education I became increasingly interested in area of coding.
      After graduation I started persuading it as my passion.
      Soon after finishing master degree I came across offer with Java bootcamp.
      As it was sponsored course, the competition was high.
      Nevertheless I was able to pass all exams with excellent score and was offered 3 months job in London, UK as Java developer.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>
      Currently I am working as Software Developer at Samsung R&D Institute Poland in Mobile department.
    </div>
    <div>
      On daily basis I encounter new problems that needs to be solved, as every project is written in different technology and has different needs.
      Finishing that kind of tasks gives me much satisfaction.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    I have two years of experience in Core Java, Spring Framework, Hibernate, MySQL, perforce, Git, Linux.
    More than year experience in android environment.
    I am familiar with Python, Kotlin, Flutter (Dart), Angular, Thymeleaf based front end, JavaFx, creating installers for Windows
    and Linux.
  </div>
</div>



