<div class="row m-3"></div>
<div class="row">
  <div class="container-fluid">
    <div>Let me introduce myself
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>I was close with computer science from my childhood.
      It was always curious to me how it work from hardware and operating system side.
      Today I build and modify my own PC and laptops.
      I started being interested about coding during my studies. Then my journey started and I begin to learn C++.
      Soon after finishing master studies I discovered offer with Java bootcamp.
      It was hard to get in as it was sponsored, but was I pass every test and was chosen.
      After finishing passing last exam and presenting final project I got job for 3 months in UK as Java developer.
      It was more like training.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    <div>Right now I am working as Software Developer at Samsung R&D Institute poland in Mobile.</div>
    <div>Learning new things on daily basis, as every project is wrote in different technology and have different
      needs.
    </div>
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    Two years of experience in Core Java, Spring Framework, Hibernate, MySQL, perforce, Git, Linux.
    More than year experience in android environment.
    Familiar with python, Kotlin, Flutter (Dart), Thymeleaf based front end, JavaFx, creating installers for Windows
    and
    Linux(DEB).
  </div>
</div>

<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    Projects I participated includes:
    <div class="row m-2"></div>
    <ul class="list-group list-group-flush ml-5 mr-5">
      <li class="list-group-item">
        Research android application processing and enhancing sounds with help of model, created using machine
        learning.
      </li>
      <li class="list-group-item">
        Research android application processing video/images with help of Samsung Bixby and Google Vision AI.
        Aim was to help people with such disabilities as blindness.
      </li>
      <li class="list-group-item">
        Internal desktop and web tool for log analysis, which is doing server-based auto-analysis as well.
      </li>
      <li class="list-group-item">
        Internal desktop tool helping with android specific everyday work.
      </li>
      <li class="list-group-item">
        Automated android tests for everyday end to end IMS tests.
      </li>
    </ul>
  </div>
</div>

<div class="row m-3"></div>
<div class="row m-3"></div>

<div class="row">
  <div class="container-fluid">
    As coding enthusiast I am developing my skills in private projects using additional technology such as:
    <div class="row m-2"></div>
    <ul class="list-group list-group-flush inline ml-5 mr-5">
      <li class="list-group-item">
        Flutter (Dart), Angular 7, Docker, AWS, Travis
      </li>
    </ul>
  </div>
</div>

<div class="row m-3"></div>

<div (click)="scrollUp()" class="container-fluid text-center scrollUp">
  <h5 class="mt-5">Find more about me in tabs above !</h5>
</div>
