<div class="ml-6">
    <ul>
        <li>Spring application development.</li>
        <li>Automation tests in Cucumber.</li>
        <li>
            <div class="container-fluid">
                <div class="row">
                    Credit auto-decision system development –
                    &nbsp;<div class="font-weight-bold">saving 90% time</div>&nbsp;
                    every credit application.
                </div>
            </div>
        </li>
        <li>Managing Jenkins credentials and environment variables</li>
        <li>Google Cloud deployment.</li>
    </ul>
</div>
