<div class="row m-4"></div>

<div class="row">
    <div class="col-md-3">
        Programming Languages:
    </div>
    <div class="col-md-9">
        <strong>Java</strong>, Kotlin, SQL, Dart, Python, Bash, HTML, CSS, Typescript, JavaScript
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Frameworks:
    </div>
    <div class="col-md-9">
        <strong>Spring</strong>, <strong>Hibernate</strong>, Android, Flutter, Angular2+,
        Junit, REST, Cucumber, Windows and Linux app installers
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        VCS:
    </div>
    <div class="col-md-9">
        <strong>Git,</strong> Perforce, <strong>Gradle,</strong> Maven
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Deployment:
    </div>
    <div class="col-md-9">
        <strong>Docker</strong>, <strong>Kubernetes</strong>, <strong>Jenkins</strong>, <strong>AWS</strong> , <strong>GCP</strong>
        <strong>Artifactory</strong>, Nexus, jFrog, Ansible, Travis, Google Play Store, Codemagic, DockerHub
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        Project management:
    </div>
    <div class="col-md-9">
        <strong>Agile</strong>, <strong>Scrum</strong>, Kanban board
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Access control:
    </div>
    <div class="col-md-9">
        Ranger, LDAP
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Operating systems:
    </div>
    <div class="col-md-9">
        <strong>Linux</strong>, Windows, Android, iOS
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Computer skills:
    </div>
    <div class="col-md-9">
        Computer Hardware Knowledge, Network configuration
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Other:
    </div>
    <div class="col-md-9">
        AutoCAD Inventor, Photoshop, DaVinci Resolve
    </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
    <div class="col-md-3">
        Languages:
    </div>
    <div class="col-md-9">
        English, Polish
    </div>
</div>




