<div class="row m-5"></div>

<div class="row">
  <div class="col-md-3">
    Programming Languages:
  </div>
  <div class="col-md-9">
    Java, Kotlin, SQL, Dart, Python, bash, HTML, CSS, Windows and Linux app installers
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Languages:
  </div>
  <div class="col-md-9">
    English, Polish
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Frameworks:
  </div>
  <div class="col-md-9">
    Spring, Hibernate, Android, Flutter, Angular2
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    VCS and project managment:
  </div>
  <div class="col-md-9">
    Git, Perforce, Maven, Gradle, Kanban board
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Deployment:
  </div>
  <div class="col-md-9">
    Docker, DockerHub, Travis, AWS, Google Play Store, Codemagic
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Operating systems:
  </div>
  <div class="col-md-9">
    Linux, Windows, Android, iOS
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Computer skills:
  </div>
  <div class="col-md-9">
    Computer Hardware Knowledge, Network configuration
  </div>
</div>

<hr>
<div class="row m-3"></div>

<div class="row">
  <div class="col-md-3">
    Other:
  </div>
  <div class="col-md-9">
    AutoCAD Inventor, Photoshop, DaVinci Resolve
  </div>
</div>




