<body class="bodyCSS">

<div class="container">
    <app-header [ngClass]="expanded ? 'header-size':'header-size-collapse'"></app-header>

    <div class="row m-1"></div>

    <div [ngClass]="expanded ? 'content-size ':'content-size-header-collapsed'">
        <nav class="navbar navbar-expand-md navbar-dark navStyle">
            <div class="mx-3 order-1 mr-auto" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">
                <a class="navbar-brand mx-auto navTextColor" routerLink="/" href="/">About Me</a>
            </div>
            <div class="mx-3 order-1 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../skills" routerLink="/skills">Skills</a>
            </div>
            <div class="mx-3 order-1 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../work" routerLink="/work">Experience</a>
            </div>
            <div class="mx-3 order-1 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../project" routerLink="/project">Projects</a>
            </div>
            <div class="mx-3 order-2 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../cert" routerLink="/cert">Certifications</a>
            </div>
            <div class="mx-3 order-3 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../edu" routerLink="/edu">Education</a>
            </div>
            <div class="mx-3 order-4 mr-auto" routerLinkActive="activeLink">
                <a class="navbar-brand mx-auto navTextColor" href="../hobby" routerLink="/hobby">Hobby</a>
            </div>
        </nav>

        <div class="container-fluid mt-3 pb-5">
            <router-outlet></router-outlet>
        </div>

    </div>

    <app-footer></app-footer>

</div>

</body>
