<body class="maxSize">

<app-header [ngClass]="expanded ? 'header-size':'header-size-collapse'"></app-header>

<div [ngClass]="expanded ? 'content-size flex-grow-1 d-flex':'content-size-header-collapsed flex-grow-1 d-flex '">
  <div class="row flex-fill flex-column flex-sm-row">
    <div class="col-sm-3 col-md-2 sidebar flex-shrink-1 bg-dark pt-3" id="Navbar">
      <ul class="nav flex-sm-column">
        <li class="active"><a class="nav-link" href="/">Overview</a></li>
        <li><a class="nav-link" href="../work">Work History</a></li>
        <li><a class="nav-link" href="../cert">Certifications</a></li>
        <li><a class="nav-link" href="../edu">Education</a></li>
        <li><a class="nav-link" href="../hobby">Interests</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 flex-grow-1 py-3 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</body>
