<div class="row m-5"></div>

<div class="row">
    <div class="container-fluid">
        <h4 class="font-weight-bold ">Private projects: </h4>
        <div class="row m-2"></div>
        <div class="ml-5">
            <ul>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="row justify-content-lg-center">
                                    <div class="col-lg-9">
                                        <div class="row"><h6 class="font-weight-bold">Private Workout Log</h6></div>
                                        <div class="row">Flutter app for logging gym training progress.</div>
                                        <div class="row">Deployed as Android app on Google Play Store:</div>
                                    </div>
                                    <div class="col-lg-3 justify-content-center align-self-center">
                                        <div class="row"><a target="_blank" rel="noopener noreferrer"
                                                            href="https://github.com/Lukk17/workout_log">
                                            Github project link</a>
                                        </div>
                                        <div class="row">
                                            <a target="_blank" rel="noopener noreferrer"
                                               href="https://play.google.com/store/apps/details?id=com.lukk.workoutlog">
                                                Google Play link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="row justify-content-lg-center">
                                    <div class="col-lg-9">
                                        <div class="row"><strong>Sky</strong></div>
                                        <div class="row">Template microservices spring project working on kubernetes.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 justify-content-center align-self-center">
                                        <div class="row">
                                            <a target="_blank" rel="noopener noreferrer"
                                               href="https://github.com/Lukk17/sky">Github project link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="row justify-content-lg-center">
                                    <div class="col-lg-9">
                                        <div class="row"><strong>ipChanger</strong></div>
                                        <div class="row">Python based IP changer for home network management.</div>
                                    </div>
                                    <div class="col-lg-3 justify-content-center align-self-center">
                                        <div class="row">
                                            <a target="_blank" rel="noopener noreferrer"
                                               href="https://github.com/Lukk17/ipChanger">Github project link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="row justify-content-lg-center">
                                    <div class="col-lg-9">
                                        <div class="row"><strong>Portfolio (This website)</strong></div>
                                        <div class="row">Angular about me website</div>
                                    </div>
                                    <div class="col-lg-3 justify-content-center align-self-center">
                                        <div class="row">
                                            <a target="_blank" rel="noopener noreferrer"
                                               href="https://github.com/Lukk17/lukksarna">Github project link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row m-3"></div>
<div class="row m-3"></div>

<div class="row ">
    <div class="container-fluid">
        <h4 class="font-weight-bold">Participated in projects:</h4>
        <div class="row m-2"></div>
        <div class="ml-5">
            <ul>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            Research &nbsp;<div class="font-weight-bold">Android application</div>&nbsp;
                            processing and &nbsp;<div class="font-weight-bold">enhancing sounds</div>&nbsp;
                            with help of model, created using &nbsp;
                            <div class="font-weight-bold">machine learning</div>
                            .
                        </div>
                        <div class="row"><p class="font-italic">Samsung</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            Research Android application &nbsp;<div class="font-weight-bold">processing video/images
                        </div>
                            &nbsp;with use of two &nbsp;
                            <div class="font-weight-bold">
                                AI: Samsung Bixby and Google Vision AI
                            </div>
                            &nbsp;End goal of project was to help people with various disabilities such as blindness.
                        </div>
                        <div class="row"><p class="font-italic">Samsung</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            Internal desktop and web tool for &nbsp;<div class="font-weight-bold">log</div>&nbsp;
                            analysis,
                            which is doing server-based &nbsp;<div class="font-weight-bold">auto-analysis</div>&nbsp;
                            as well.
                        </div>
                        <div class="row"><p class="font-italic">Samsung</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">Internal desktop tool helping with android specific everyday work.</div>
                        <div class="row"><p class="font-italic">Samsung</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="font-weight-bold">Automated android tests</div> &nbsp;
                            for daily end to end IMS tests.
                        </div>
                        <div class="row"><p class="font-italic">Samsung</p></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row m-3"></div>
<div class="row m-3"></div>

<div class="row">
    <div class="container-fluid">
        <h4 class="font-weight-bold ">University projects:</h4>
        <div class="row m-2"></div>
        <div class="ml-5">
            <ul>
                <li>
                    <div class="container-fluid">
                        <div class="row">Dental implant - engineering thesis.</div>
                        <div class="row"><p class="font-italic">Gdańsk University of Technology</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">Electric system for smart building.</div>
                        <div class="row"><p class="font-italic">Sapienza Università di Roma</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">Maintenance plan for prevention against machining discontinuities during
                            industrial robots
                            construction.
                        </div>
                        <div class="row"><p class="font-italic">Sapienza Università di Roma</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">Swimming-pool lift for disabled people.</div>
                        <div class="row"><p class="font-italic">Gdańsk University of Technology</p></div>
                    </div>
                </li>
                <li>
                    <div class="container-fluid">
                        <div class="row">Adjustable sit in the shower for disabled people.</div>
                        <div class="row"><p class="font-italic">Gdańsk University of Technology</p></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
