
<div class="row m-3"></div>

<div class="row ">
  <div class="container-fluid">
    Participated in projects:
    <div class="row m-2"></div>
    <ul class="list-group list-group-flush ml-5 mr-5">
      <li class="list-group-item first-element">
        Research android application processing and enhancing sounds with help of model, created using machine
        learning.
      </li>
      <li class="list-group-item second-element">
        Research android application processing video/images with use of Samsung Bixby and Google Vision AI.
        End goal of project was to help people with various disabilities such as blindness.
      </li>
      <li class="list-group-item first-element">
        Internal desktop and web tool for log analysis, which is doing server-based auto-analysis as well.
      </li>
      <li class="list-group-item second-element">
        Internal desktop tool helping with android specific everyday work.
      </li>
      <li class="list-group-item first-element">
        Automated android tests for daily end to end IMS tests.
      </li>
    </ul>
  </div>
</div>

<div class="row m-3"></div>
<div class="row m-3"></div>

<div class="row">
  <div class="container-fluid">
    As coding enthusiast I am developing my skills in private projects using additional technologies such as:
    <div class="row m-2"></div>
    <ul class="list-group list-group-flush inline ml-5 mr-5">
      <li class="list-group-item first-element">
        Flutter (Dart), Angular 7, Docker, AWS, Travis
      </li>
    </ul>
  </div>
</div>
