/* You can add global styles to this file, and also import other style files */
.bodyCSS {
  background-color: #373737;
  min-height: 100vh;
  color: #bfbfbf;
}

ul {
  color: #373737;
}

.second-element {
  color: #1b1e21;
  background-color: #bfbfbf !important;
}

.first-element {
  color: #1b1e21;
  background-color: #e0e2e4 !important;
}
