<div class="container-fluid whiteBackground">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="mb-md-4"></div>
            <h6 class="font-weight-bold ">12.2017 - 02.2018</h6>
        </div>
        <div class="col-md-9">
            <h4 class="font-weight-bold">Java Bootcamp</h4>
            <p class="font-italic">CodersLab - Warsaw</p>
        </div>
    </div>
</div>

<div class="container-fluid whiteBackground">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="mb-md-4"></div>
            <h6 class="font-weight-bold ">10.2012 - 10.2017</h6>
        </div>
        <div class="col-md-9">
            <h4 class="font-weight-bold">Master of Science: Mechanical-Medical Engineering</h4>
            <p class="font-italic">Gdansk University Of Technology - Gdansk</p>
        </div>
    </div>
</div>

<div class="container-fluid whiteBackground">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="mb-md-4"></div>
            <h6 class="font-weight-bold ">10.2012 - 10.2017</h6>
        </div>
        <div class="col-md-9">
            <h4 class="font-weight-bold">Master of Science: Mechanical Engineering</h4>
            <p class="font-italic">Sapienza - Università Di Roma - Rome</p>
            <p class="font-italic">Erasmus student exchange</p>
        </div>
    </div>
</div>

<div class="container-fluid whiteBackground">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="mb-md-4"></div>
            <h6 class="font-weight-bold ">10.2011 - 05.2012</h6>
        </div>
        <div class="col-md-9">
            <h4 class="font-weight-bold">Veterinary</h4>
            <p class="font-italic">University of Warmia and Mazury in Olsztyn</p>
        </div>
    </div>
</div>
